<div class="comment">
  <%= image_tag(comment.user.avatar.url) if comment.user.avatar? %> 
  <div class="comment-body">
    <small>
      <%= comment.user.name %> said: 
      <%= link_to "Delete", [@topic, @post, comment], method: :delete %>
    </small>
    <p><%= comment.body  %></p>
  </div>
</div>