@import "bootstrap";

p {
  line-height: 1.5;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.topic.row, .post.row {
  margin: 2em 0;
}

.supplement {
  font-size: 0.8em;
  color: #aaa;
}