@import "bootstrap";

p {
  line-height: 1.5;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.topic.row, .post.row {
  margin: 2em 0;
}

.supplement {
  font-size: 0.8em;
  color: #aaa;
}

.comment {
  margin-bottom: 10px;
  overflow: auto;
}

.comment .comment-body {
  overflow: hidden;
}

.comment img {
  width: 50px;
  margin-right: 10px;
  float: left;
}

textarea {
  margin-bottom: 10px;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}